{% extends "base.html" %}

{% block title%} login phone {% endblock title%}

{% block body %} 

<h1>login phone</h1>
<form method="post">
    {% csrf_token %}
    <div style="border-radius: 5px; width:230px;margin-left: 500px ; margin-top:20px;margin-bottom: 100px;background-color: dimgrey;padding:20px" class="form"> <form method='post' novalidate> 
        {% csrf_token %}
            
            <input style="border-radius:5px; background-color:burlywood; padding:3px" type="number" name="phone" required="" placeholder="enter your phone" id="id_phone"> <br><br>
            <button type="submit" class="btn btn-danger" style="height: 29px; padding:1.5px;" > login</button>
            </div>
    
</form>
{% endblock body %}

