{% extends 'base.html' %}
{% block body %}
    <div class="container">
        
            {% for i in product  %}
            <div style="margin-left:400px;width:300px;text-align:center" class="card mt-3 p-5">
                <h2>{{i.name}}</h2>
                <a href="{% url 'home:detail' i.id %}">
                    <img src="{{i.image.url}}" style="width:200px ; height:250px" alt="">
                </a><br>
                <div style="padding:15px;" class="price"><h6 style="display:inline;">Price:</h6> <p style="display:inline;font-weight: bold;font-size:15px;color: darkgreen;">{{i.total_price}}</p>
                    <span style="text-decoration: line-through;color:darkred;font-size:10px;font-weight:bold">{{i.unit_price}}</span>
                </div>
               
            </div>
                <hr>
            {% endfor %}
       
    </div>
{% endblock body %}