{% extends 'base.html' %}

{% block title%}
    home
{% endblock title%}

{% block body%}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
       {% for i in gallery %}  
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <img src="{{i.image.url}}" style="width:auto; height:600px;" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{i.name}}</h5>
                <p>{{i.text}}</p>
            </div>
        </div>
        {% endfor %} 
    </div>
    <a class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div> <br>
  <div style="margin-left:15px;"class="namhome">
    <p style="color: darkgreen;font-size: 26px;text-align:center;font-weight: bold;">Newest products</p>
  </div>

<div class="container-fluid">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      
      
        {% for i in create %}
        <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="{{i.image.url}}" style="width: 286px; height:200px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{i.name}}</h5>
                  <span>{{i.total_price}}</span>
                  <small style="text-decoration:line-through">{{i.unit_price}}</small> <br>
                  <a href="{% url 'home:detail' i.id%}" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        {% endfor %}
      
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
</div>
<br>
<div style="margin-left:15px;"class="namhome">
  <p style="color: darkgreen;font-size: 26px;text-align:center;font-weight: bold;">Best seller</p>
</div>

<div class="container-fluid">
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    
    
      {% for i in sell %}
      <div class="swiper-slide">
          <div class="card" style="width: 18rem;">
              <img src="{{i.image.url}}" style="width: 286px; height:200px" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <span>{{i.total_price}}</span>
                <small style="text-decoration:line-through">{{i.unit_price}}</small> <br>
                <a href="{% url 'home:detail' i.id%}" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      {% endfor %}
    
  </div>
  <div class="swiper-pagination"></div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
</div>
{% endblock body%}

