{% extends 'base.html' %}
{% block body %}
    <br> <br>
    <div class="container">

        <div class="row">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">image</th>
                    <th scope="col">product</th>
                    <th scope="col">brand</th>
                    <th scope="col">materail</th>
                    <th scope="col">price</th>
                    <th scope="col">rate</th>
                    <th scope="col">remove</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in compare %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td> <img src="{{i.product.image.url}}" style="width:100px; height:100px" alt=""></td>
                        <td>{{i.product.name}}</td>
                        <td>{{i.product.brand}}</td>
                        <td>{{i.product.name}}</td>
                        <td>
                            {% if  i.product.status != 'None' %}
                               {{i.variants.total_price}} 
                            {% else %}
                               {{i.product.total_price}}
                            {% endif %}
                        </td>
                            <td>{{i.product.average}}</td>
                        
                        
                        <td>
                            <a href="{% url "cart:compare_remove" i.id %}"><i class="fas fa-trash " style="color:red"></i></a>
                        </td>
                    </tr> 
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <br><br>
{% endblock body %}
